@model Piranha.Models.Manager.PostModels.EditModel
@{
    ViewBag.Selected = "Post" ;   
}
@section Head {
    @Html.Partial("~/Areas/Manager/Views/Shared/Partial/TinyMCE.cshtml")
    <script type="text/javascript" src="@Url.Content("~/Areas/Manager/Content/Js/jquery.post.js")"></script>
}

@section Toolbar {
<div class="grid_12 toolbar">
    <div class="inner">
        <ul>
            <li><a class="save submit"></a>
                <div class="tooltip"><p>Spara artikeln</p></div></li>
            <li><a class="publish"></a>
                <div class="tooltip"><p>Publicera artikeln</p></div></li>
            <li><a href="@Url.Action("Delete", new { id = Model.Post.Id })" class="delete"></a>
                <div class="tooltip"><p>Ta bort artikeln</p></div></li>
            <li><a href="@Url.Action("Index", "Post")" class="back"></a>
                <div class="tooltip"><p>Backa</p></div></li>
            <li><a href="" class="refresh"></a>
                <div class="tooltip"><p>Ladda om artikeln</p></div></li>
            <li><a href="" class="info"></a>
                <div class="tooltip"><p>Visa information & hjälptext</p></div></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
}

@{ Html.BeginForm("Edit", "Post") ; }
<div>
    @Html.HiddenFor(m => m.Post.IsNew)
    @Html.HiddenFor(m => m.Post.Id)
    @Html.HiddenFor(m => m.Post.IsDraft)
    @Html.HiddenFor(m => m.Post.Permalink)
    @Html.HiddenFor(m => m.Post.TemplateId)
    @Html.HiddenFor(m => m.Post.Created)
    @Html.HiddenFor(m => m.Post.Updated)
    @Html.HiddenFor(m => m.Post.Published)
    @Html.HiddenFor(m => m.Post.LastPublished)
    @Html.HiddenFor(m => m.Post.CreatedBy)
    @Html.HiddenFor(m => m.Post.UpdatedBy)
    @Html.HiddenFor(m => m.Permalink.IsNew)
    @Html.HiddenFor(m => m.Permalink.Id)
    @Html.HiddenFor(m => m.Permalink.ParentId)
    @Html.HiddenFor(m => m.Permalink.Type)
    @Html.HiddenFor(m => m.Permalink.Name)
    @Html.HiddenFor(m => m.Permalink.Created)
    @Html.HiddenFor(m => m.Permalink.CreatedBy)
    <input type="hidden" id="draft" name="draft" value="true" />
</div>
<div class="grid_9">
    <div class="box">
        <div class="title"><h2>Information</h2></div>
        <div class="inner">
            <ul class="form">
                <li>@Html.LabelFor(m => m.Post.Title)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Post.Title)</div>
                    @Html.ValidationMessageFor(m => m.Post.Title)
                </li>
                <li>@Html.LabelFor(m => m.Post.Permalink)
                	@if (!Model.Post.IsNew) {
                    <p>http://@Request.Url.DnsSafeHost@Url.GetPermalink(Model.Post.Permalink).ToLower()</p>
                    } else {
                    <p><i>Din permalänk skapas automatiskt när du sparar artikeln första gången</i></p>
                    }
                </li>
                <li>
                    @Html.LabelFor(m => m.Post.Excerpt)
                    <div class="input">
                        @Html.TextAreaFor(m => m.Post.Excerpt, new { @placehoder = "Ej obligatoriskt", @rows = 3 })</div>
                    @Html.ValidationMessageFor(m => m.Post.Excerpt)
                </li>
            </ul>
        </div>
    </div>

    <div class="box">
        <div class="title"><h2>Innehåll</h2></div>
        <div class="inner">
            <div class="input">
                @Html.TextAreaFor(m => m.Post.Body, new { @class ="editor", @rows = 10 })
            </div>
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="box pagetemplate">
        <div class="title"><h2>Kategorier</h2></div>
        <div class="inner">
            <p>Inget mer här</p>
        </div>
    </div>
</div>
@{ Html.EndForm() ; }