@model Piranha.Models.Manager.CategoryModels.EditModel
@{
    ViewBag.Selected = "Post" ;
}
@section Toolbar {
<div class="grid_12 toolbar">
    <div class="inner">
        <ul>
            <li><a class="save submit"></a>
                <div class="tooltip"><p>Spara kategorin</p></div></li>
            <li><a href="@Url.Action("Delete", new { id = Model.Category.Id })" class="delete"></a>
                <div class="tooltip"><p>Ta bort kategorin</p></div></li>
            <li><a href="@Url.Action("Index", "Post")#categories" class="back"></a>
                <div class="tooltip"><p>Backa</p></div></li>
            <li><a href="" class="refresh"></a>
                <div class="tooltip"><p>Ladda om innehållet</p></div></li>
            <li><a href="" class="info"></a>
                <div class="tooltip"><p>Visa information & hjälptext</p></div></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
}
@{ Html.BeginForm() ; }
@Html.HiddenFor(m => m.Category.Id)
@Html.HiddenFor(m => m.Category.IsNew)
@Html.HiddenFor(m => m.Category.Created)
@Html.HiddenFor(m => m.Category.CreatedBy)
@Html.HiddenFor(m => m.Permalink.IsNew)
@Html.HiddenFor(m => m.Permalink.Id)
@Html.HiddenFor(m => m.Permalink.ParentId)
@Html.HiddenFor(m => m.Permalink.Type)
@Html.HiddenFor(m => m.Permalink.Name)
@Html.HiddenFor(m => m.Permalink.Created)
@Html.HiddenFor(m => m.Permalink.CreatedBy)
<div class="grid_12">
    <div class="box">
        <div class="title"><h2>Information</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Category.Name)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Category.Name)</div>
                    @Html.ValidationMessageFor(m => m.Category.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.Category.Permalink)
                    <p><i>Din permalänk skapas automatiskt när du sparar kategorin första gången</i></p>
                </li>
                <li>
                    @Html.LabelFor(m => m.Category.Description)
                    <div class="input">
                        @Html.TextAreaFor(m => m.Category.Description)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Category.ParentId)
                    <div class="input">
                        @Html.DropDownListFor(m => m.Category.ParentId, Model.Categories)</div>
                </li>
            </ul>
        </div>
    </div>
</div>
@{ Html.EndForm() ; }
