@model Piranha.Models.Manager.PageModels.ListModel
@{
    ViewBag.Title = "Sidor";
    ViewBag.Selected = "Page" ;
}
@section Head {
    <script type="text/javascript">
        //
        // Sets all hidden fields before submit
        function preSubmit(parentid, seqno) {
            $("#ParentId").val(parentid);
            $("#Seqno").val(seqno);

            floatBox.show('boxTemplates');

            return false;
        }

        var deletemsg = "Är du säker på att du vill ta bort sidan?";

        //
        // Set the selected template id
        $(document).ready(function () {
            //
            // Change toolbar action according to selected tab.
            //
            $(".tabs a").click(function () {
                switch ($(this).attr("href")) {
                    case "#pages":
                        $(".toolbar .add").removeAttr("href");
                        $(".toolbar .add").attr("onclick", "floatBox.show('boxTemplates', 200, 240)") ;
                        $("#tt-add p").text("Lägg till ny startsida");
                        deletemsg = "Är du säker på att du vill ta bort sidan?";
                        break;
                    case "#templates":
                        $(".toolbar .add").removeAttr("onclick");
                        $(".toolbar .add").attr("href", "@Url.Action("Page", "Template")");
                        $("#tt-add p").text("Lägg till ny mall");
                        deletemsg = "Är du säker på att du vill ta bort mallen?";
                        break;
                }
            });

            //
            // Check what tab should be initially selected
            //
            if (window.location.hash) {
                var hash = window.location.hash ;

                $.each($(".tabs a"), function(i, e) {
                    if ($(e).attr("href") == hash)
                        $(e).click();
                });
            }

            $(".templates").click(function () {
                $("#TemplateId").val($(this).attr("data-templateid"));
                $("form").submit();
            });

            $(".delete").click(function() {
                return confirm(deletemsg) ;
            });

            var options = {
                listClass:  'list-js',
                searchId: 'search',
                valueNames: ['name', 'created', 'updated']
            };
            var templateList = new List('template-list', options);
        });
    </script>
}
@section Toolbar { 
<div class="grid_12 toolbar">
    <div class="inner">
        <ul>
            <li id="tt-add"><a onclick="floatBox.show('boxTemplates', 200, 240)" class="add"></a>
                <div class="tooltip"><p>Lägg till ny startsida</p></div></li>
            <li id="tt-refresh"><a href="" class="refresh"></a>
                <div class="tooltip"><p>Ladda om listan</p></div></li>
            <li></li>
            <li id="tt-info"><a href="" class="info"></a>
                <div class="tooltip"><p>Visa information & hjälptext</p></div></li>
        </ul>
        @using (Html.BeginForm("Search", "Page")) {
            <button class="search" title="Sök bland alla användare"></button>@Html.TextBox("search")
        }
        <div class="clear"></div>
    </div>
</div>
<div class="grid_12 help">
    <div class="inner">
        Här kan du se en lista över de sidor som finns för tillfället. För att ändra en befintlig sida, klicka på
        sidans namn i listan. För att lägga till en ny sida sist, klicka på lägg till i verktygsraden. För att lägga
        till en sida under eller efter en befintlig sida, klicka på pilsymbolerna i listan.
    </div>
</div>
}
<div class="grid_12">
    <ul class="tabs">
        <li><a class="selected" href="#pages">Sidor</a></li>
        @if (User.HasAccess("ADMIN_PAGE_TEMPLATE")) {
        <li><a href="#templates">Mallar</a></li>
        }
    </ul>
    <a name="pages">
@using (Html.BeginForm("Insert", "Page")) {
    @Html.Hidden("TemplateId", "906761ea-6c04-4f4b-9365-f2c350ff4372")
    @Html.Hidden("ParentId")
    @Html.Hidden("Seqno")
    <table class="list tabbed">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Typ</th>
                <th>Skapad</th>
                <th>Ändrad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model.Pages) {
            <tr@(page.Updated > page.LastPublished ? " class=draft" : "")>
                <td@(page.Level > 1 ? " class=level" + page.Level : "")><a href="@Url.Action("Edit", new { id = page.Id })">@page.Title</a></td>
                <td>@page.TemplateName.Singular</td>
                <td class="date">@page.Created.ToString("yyyy-MM-dd")</td>
                <td class="date">@page.Updated.ToString("yyyy-MM-dd")</td>
                <td class="buttons three">
                    <button class="icon arrow-down marg" title="Lägg till sida efter" onclick="return preSubmit('@page.ParentId', @page.Seqno + 1)" type="submit"></button>
                    <button class="icon arrow-right marg" title="Lägg till sida under" onclick="return preSubmit('@page.Id', 1)" type="submit"></button>
                    @if (page.Pages.Count == 0) {
                    <a href="@Url.Action("Delete", new { id = page.Id })" title="Ta bort sida" class="icon delete"></a>
                    }
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
}
    </a>
    @if (User.HasAccess("ADMIN_PAGE_TEMPLATE")) {
    <a name="templates" class="hidden">
    <table id="template-list" class="list tabbed">
        <thead>
            <tr>
                <th><span class="sort asc" data-sort="name">Titel</span></th>
                <th><span class="sort" data-sort="created">Skapad</span></th>
                <th><span class="sort" data-sort="updated">Ändrad</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list-js">
            @foreach (var pt in Model.Templates) {
            <tr>
                <td class="name"><a href="@Url.Action("Page/" + pt.Id.ToString(), "Template")">@pt.Name.Singular</a></td>
                <td class="created date">@pt.Created.ToString("yyyy-MM-dd")</td>
                <td class="updated date">@pt.Updated.ToString("yyyy-MM-dd")</td>
                <td class="buttons one">
                    <a class="icon delete" href="@Url.Action("DeletePage", "Template", new { id = pt.Id })"></a></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
            </tr>
        </tfoot>
    </table>
    </a>
    }
</div>

@section Foot {
<div id="boxTemplates" class="floatbox">
    <div class="bg"></div>
    <div class="box">
        <div class="inner">
            <h2>Välj mall</h2>
        @foreach (var template in Model.Templates) {
            <div class="templates left" data-templateid="@template.Id">
                <h3>@template.Name.Singular</h3>
                <div class="preview" style="width:120px;height:120px;margin:0 auto;">
                    @template.Preview
                </div>
                <p>@template.Description</p>
            </div>
        } 
        </div>
    </div>
</div>
}